/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
.chair i{
    font-size: 100px;
}

.not-sale-yet-chair{
    
}
.sold-chair{
    color: rgb(229,229,229);
    background-color: rgb(229,229,229);
}
.choosed-chair{
    color: rgb(139,229,176);
    background-color: rgb(139,229,176);
}

.m-top-6px{
    margin-top: 6px;
}
.route-detail-header{
   font-size: 30px;
   font-weight: 700;
   margin: 42px;
}
